<div class="user-window-container">
  <div class="user-window-header">
    Membri di <strong>{{ team?.nome_team }}</strong>
  </div>

  <div class="user-table-header">
    <span class="col-nome">Nome e Cognome</span>
    <span class="col-ruolo">Ruolo</span>
    <span class="col-azione">Azione</span>
  </div>

  <div class="user-list">
    <div *ngFor="let membro of team?.membri" class="user-row">
      <span class="col-nome">{{ membro.nome }} {{ membro.cognome }}</span>
      <span class="col-ruolo"><span class="badge">{{ membro.ruolo }}</span></span>
      <span class="col-azione">
        <button class="btn-remove" (click)="rimuoviUtente(membro)">Elimina</button>
      </span>
    </div>

    <div *ngIf="!team?.membri?.length" class="no-members">
      Nessun membro presente.
    </div>
  </div>
</div>
